* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;

}

.chunni {
    display: none;
}

.page1 {
    width: 100%;
    height: auto;
    background: linear-gradient(white, rgba(0, 0, 0, 0.527));
}

.nav {
    height: 110px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.navpart1 {
    width: 30%;
    cursor: pointer;
    font-size: 1.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navpart2 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav img {
    width: 190px;
    height: 70px;
}

.navpart2 button {
    width: 80px;
    height: 45px;
    border-radius: 20px;
    color: #000;
    border: none;
    margin-inline: 2px;
    cursor: pointer;
}

.navpart2 button:nth-child(2) {
    background-color: black;
    color: white;
}

/* content wala part yha se start hota hai */
.content {
    padding-top: 90px;
}


.content {
    width: 100%;
    overflow-y: hidden;
    height: calc(100% - 110px);
}

.content h3 {
    width: fit-content;
    background-color: rgb(164, 158, 172);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    font-size: 1.2vw;
    padding-inline: 10px;
}

.content h1 {
    text-align: center;
    font-size: 2.4vw;
    line-height: 40px;
}

.content p {
    text-align: center;
}

.content button {
    width: 180px;
    font-weight: 700;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.1vw;
    position: relative;
    color: #fff;
    background-color: black;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.sarabe::-webkit-scrollbar {
    display: none;
}

.sarabe {
    width: 100%;
    height: 400px;
    padding: 5px;
    display: flex;
    gap: 30px;
    margin-block: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    position: relative;
}

/* first tarika display flex wala .. parent pr display flex and overflow x and overflow y and flex-wrap no wrap wali property.. and 
child pr flex-shrink wali property..  */
/* 2nd method child ko display inline block and parent ko white space no-wrap */
/* and overflow x auto and overflow y hidden ye too dono mai de sakte hain..  */


.elem {
    width: 300px;
    position: relative;
    height: 100%;
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;

}

.bottom-text {
    height: 40%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transition: all 0.3 ease-out;

}


.elem:hover .bottom-text {
    opacity: 1;
    transition: all 0.3s ease-in;
}


.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kagi {
    height: auto;
    display: block;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.527), white);
}

.kagi h1 {
    text-align: center;

}
.box1 {
    width: 25%;
    height: 350px;
    margin-inline: 60px;
    margin-block: 20px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.box1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.littlebox {
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0.426), rgb(0, 0, 0));
    position: absolute;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
}

.box1:hover .littlebox {
    opacity: 1;
    transition: all 0.8s ease-in;
    height: 100%;
}

.box1:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 1);
    transition: all 0.7s ease-in;
    scale: 1.001;
}

.box1:hover .littlebox i {
    scale: 2;
    transition: all 0.8s ease-in;

}

@media (max-width: 600px) {
    .nav {
        height: 70px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .navpart1 {
        display: none;
    }

    .chunni {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    .nav img {
        width: 100px;
        height: 60px;
    }
    .navpart2 button {
        width: 60px;
        height: 35px;
        border-radius: 20px;
        color: #000;
        border: none;
        margin-inline: 2px;
        cursor: pointer;
    }

    /* content wala part start ho rha hai..  */
    .content h3 {
        font-size: 4.2vw;
    }

    .content h1 {
        font-size: 7.4vw;
    }

    .content button {
        font-size: 5.4vw;
    }
    .kagi{
        width: 100%;
        height: auto;
    }
    .box1{
        margin-inline: 10px;
        display: block;
        width: 94%;
    }
}